<mat-toolbar>
    <a mat-button routerLink="./user-listing">User List</a>
    <a mat-button routerLink="./user-profile">User Profile</a>
    <p>{{service.getFirstName()}} {{service.getLastName()}}</p>
    <button mat-button [matMenuTriggerFor]="beforeMenu"><mat-icon>home</mat-icon></button>
    <mat-menu #beforeMenu="matMenu" xPosition="before">
        <a mat-menu-item routerLink='user-profile'>Profile</a>
        <!-- <hr> -->
        <button mat-menu-item (click)='logout()' class="logout">Logout</button>
    </mat-menu>
    <!-- <a mat-raised-button>Logout</a> -->

</mat-toolbar>
<router-outlet></router-outlet>